<div class="task-container"
     [class.alarma-style]="alarmaFlag && task.status !== 2"
     [class.deadline-style]="deadlineFlag && task.status !== 2">
  <div class="task-title">{{task.title}}</div>

  <button class="recovery-task-button" (click)="openPopup()">Просмотреть задачу</button>

  <div class="task-time-block">
    <div class="task-initial-time">Задача поставлена: {{task.initialTime | date: 'dd.MM.yy'}}</div>
    <div class="task-end-time">Окончание: {{task.endTime| date: 'dd.MM.yy'}}</div>
  </div>

  <button class="edit-task-button" *ngIf="task.status !== 5 && task.status !== 2" (click)="handleEditTask()">Редактировать</button>

  <button class="close-task-button" *ngIf="task.status !== 2" (click)="handleCloseTask()">Закрыть задачу</button>

  <button class="recovery-task-button" *ngIf="task.status === 2" (click)="handleRecoveryTask()">Восстановить задачу</button>

</div>
