.task-container{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid blue;
    border-radius: 8px;
}
.alarma-style{
    border: 2px solid green;
}
.alarma-style .edit-task-button{
    border: 1px solid green;
}
.alarma-style .edit-task-button:hover{
    background-color: green;
}
.alarma-style .close-task-button{
    border: 1px solid green;
}
.alarma-style .close-task-button:hover{
    background-color: green;
}
.alarma-style .recovery-task-button{
    border: 1px solid green;
}
.alarma-style .recovery-task-button:hover{
    background-color: green;
}
.deadline-style{
    border: 3px solid red;
}
.deadline-style .edit-task-button{
    border: 1px solid red;
}
.deadline-style .edit-task-button:hover{
    background-color: red;
}
.deadline-style .close-task-button{
     border: 1px solid red;
 }
.deadline-style .close-task-button:hover{
    background-color: red;
}
.deadline-style .recovery-task-button{
    border: 1px solid red;
}
.deadline-style .recovery-task-button:hover{
    background-color: red;
}
.task-title{
    font-size: 22px;
}
.task-description{
    margin-top: 15px;
    width: 100%;
    border: 1px solid blue;
    box-sizing: border-box;
    padding: 5px;
}
.more-less-button{
    margin-top: -13px;
    background-color: white;
    outline: none;
    border: 1px solid blue;
    border-radius: 10px;
    height: 25px;
    width: 80px;
    cursor: pointer;
}
.more-less-button:hover{
    background-color: blue;
    color: white;
}
.task-time-block{
    margin-top: 15px;
}
.task-initial-time{

}
.task-end-time{
    margin-top: 5px;
}
.edit-task-button{
    margin-top: 15px;
    background-color: white;
    outline: none;
    border: 1px solid blue;
    border-radius: 10px;
    height: 25px;
    width: 116px;
    cursor: pointer;
}
.edit-task-button:hover{
    background-color: blue;
    color: white;
}
.close-task-button{
    margin-top: 15px;
    background-color: white;
    outline: none;
    border: 1px solid blue;
    border-radius: 10px;
    height: 25px;
    width: 116px;
    cursor: pointer;
}
.close-task-button:hover{
    background-color: blue;
    color: white;
}
.recovery-task-button{
    margin-top: 15px;
    background-color: white;
    outline: none;
    border: 1px solid blue;
    border-radius: 10px;
    height: 25px;
    width: 175px;
    cursor: pointer;
}
.recovery-task-button:hover{
    background-color: blue;
    color: white;
}