<div class="view-task-popup-container"
     [class.alarma-style]="alarmaFlag"
     [class.deadline-style]="deadlineFlag">
  <div class="task-title-block part-task-block">
    <div class="part-task-block__title">Название задачи</div>
    <div class="part-task-block__value">
      {{task.title}}
    </div>

  </div>

  <div class="description-task-block part-task-block">
    <div class="part-task-block__title">Описание задачи</div>
    <pre class="part-task-block__value">{{task.description}}</pre>
  </div>

  <div class="initial-time-block part-task-block">
    <div class="part-task-block__title">Дата создания</div>
    <div class="part-task-block__value">
      {{task.initialTime | date: 'dd.MM.yy'}}
    </div>
  </div>

  <div class="end-time-block part-task-block">
    <div class="part-task-block__title">Дата окончания</div>
    <div class="part-task-block__value">
      {{task.endTime | date: 'dd.MM.yy'}}
    </div>
  </div>
</div>
