.view-task-popup-container{

}
.alarma-style .part-task-block{
    border-bottom: 1px solid green;
}
.deadline-style .part-task-block{
    border-bottom: 1px solid red;
}

.part-task-block{
    border-bottom: 1px solid blue;
    margin-top: 40px;
}
.part-task-block__title{
    font-size: 28px;
}
.part-task-block__value{
    font-size: 18px;
    white-space: pre-wrap;
    display: flex;
    justify-content: center;
}

.task-title-block .part-task-block__value{
    font-size: 26px;
}
.description-task-block{

}
.initial-time-block .part-task-block__value{
    font-size: 26px;
}
.end-time-block .part-task-block__value{
    font-size: 26px;
}