<div class="task-bord-container">
  <div class="button-block">
    <button class="add-task-button" (click)="openPopup()">Добавить задачу</button>
  </div>

  <div class="task-blocks-container">
    <div class="tasks-block">
      <div class="tasks-block__title">Поставленные задачи</div>
      <div class="tasks-list"
           cdkDropList
           #new="cdkDropList"
           [cdkDropListData]="newTasks"
           [cdkDropListConnectedTo]="[work, completed]"
           (cdkDropListDropped)="drop($event, 0)">
        <div class="task"
             (cdkDragMoved)="draggedTask = task"
             *ngFor="let task of newTasks;"
             cdkDrag>
          <app-task [task]="task"
                    (closeTask)="handleClosedTasks($event)"
                    (editTask)="openPopup($event)"></app-task>
        </div>
      </div>
    </div>

    <div class="tasks-block">
      <div class="tasks-block__title">Задачи в работе</div>
      <div class="tasks-list"
           cdkDropList
           #work="cdkDropList"
           [cdkDropListData]="workTasks"
           [cdkDropListConnectedTo]="[new, completed]"
           (cdkDropListDropped)="drop($event, 3)">
        <div class="task"
             (cdkDragEnded)="draggedTask = task"
             *ngFor="let task of workTasks;"
             cdkDrag>
          <app-task [task]="task"
                    (closeTask)="handleClosedTasks($event)"
                    (editTask)="openPopup($event)"></app-task>
        </div>
      </div>
    </div>

    <div class="tasks-block">
      <div class="tasks-block__title">Выполненные задачи</div>
      <div class="tasks-list"
           cdkDropList
           #completed="cdkDropList"
           [cdkDropListData]="completedTasks"
           [cdkDropListConnectedTo]="[new, work]"
           (cdkDropListDropped)="drop($event, 5)">
        <div class="task"
             (cdkDragEnded)="testFunction(task)"
             *ngFor="let task of completedTasks;"
             cdkDrag>
          <app-task [task]="task"
                    (closeTask)="handleClosedTasks($event)"
                    (editTask)="openPopup($event)"></app-task>
        </div>
      </div>
    </div>

  </div>

  <div class="closed-task-container">
    <div class="closed-tasks-block" *ngIf="closedTasks.length > 0">
      <div class="tasks-block__title">Закрытые задачи</div>
      <div class="closed-task-list">
        <div class="task" *ngFor="let task of closedTasks">
          <app-task [task]="task" (recoveryTask)="handleRecoveredTask($event)"></app-task>
        </div>
      </div>
    </div>
  </div>

</div>
