.task-bord-container{
    margin-top: 15px;
}
.button-block{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid blue;
    box-sizing: border-box;
    padding-bottom: 15px;
}
.add-task-button{
    width: 150px;
    height: 45px;
    background-color: white;
    outline: none;
    border: 2px solid blue;
    border-radius: 10px;
    color: blue;
    font-size: 16px;
    cursor: pointer;
}
.add-task-button:hover{
    background-color: blue;
    color: white;
}
.task-blocks-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}
.tasks-block{
    display: inline-block;
    height: 100%;
    border: 1px solid grey;
    border-radius: 8px;
    box-sizing: border-box;
    vertical-align: top;
    width: 402px;
}
.tasks-block__title{
    font-size: 22px;
    border-bottom: 1px solid gray;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 10px;
}
.tasks-list{
    overflow: hidden;
    display: block;
    width: 100%;
    min-height: 212px;
    padding-bottom: 40px;
}
.task{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
}
.tasks-list.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.closed-task-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.closed-tasks-block{
    display: inline-block;
    height: 100%;
    border: 1px solid grey;
    border-radius: 8px;
    box-sizing: border-box;
    width: 1238px;
}
.closed-task-list{
    display: flex;
    flex-wrap: wrap;
}
.closed-task-list .task{
    margin: 5px;
}


.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
