.title{
    font-size: 22px;
}

.add-and-edit-task-popup{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup-title{
    font-size: 32px;
}
.add-task-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name-task-block{
    margin-top: 15px;
}
.name-task-block__title{
}
.name-task-block__input{
    width: 500px;
    height: 30px;
    outline: none;
    font-size: 18px;
}
.description-task-block{
    margin-top: 15px;
}
.description-task-block__title{
}
.description-task-block__textarea{
    width: 500px;
    height: 170px;
    outline: none;
    resize: none;
    font-size: 18px;
}
.task-end-date-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.task-end-date-block__title{

}
.task-end-date-block__date-end{

}

.save-button{
    width: 150px;
    height: 45px;
    background-color: white;
    outline: none;
    border: 2px solid blue;
    border-radius: 10px;
    color: blue;
    font-size: 16px;
    cursor: pointer;
}
.save-button:hover{
    background-color: blue;
    color: white;
}