<div class="add-and-edit-task-popup">
  <div class="popup-title">
    Создание новой задачи
  </div>

  <form class="add-task-form" [formGroup]="taskForm" ngNativeValidate (submit)="closePopup(taskForm.value)">
    <div class="name-task-block">
      <div class="name-task-block__title title">Название задачи</div>
      <input class="name-task-block__input" formControlName="title" required>
    </div>

    <div class="description-task-block">
      <div class="description-task-block__title title">Описание задачи</div>
      <textarea class="description-task-block__textarea" formControlName="description"></textarea>
    </div>

    <div class="task-end-date-block">
      <div class="task-end-date-block__title title">Дата окончания</div>
      <div class="task-end-date-block__date-end">
        <mat-form-field>
          <input matInput class="picker-date-end-input"
                 [matDatepicker]="datepicker"
                 name="pickerDateEnd"
                 (focus)="dateEndInput.blur()"
                 (click)="datepicker.open()"
                 required
                 [min]="now"
                 (dateChange)="specifyEndDate($event)"
                 [value]="task.endTime"
                 #dateEndInput
                 placeholder="">
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <button class="save-button">Сохранить</button>
  </form>

</div>

