/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html,body{
    font-family: Fira Sans;
    margin: 0;
    padding: 0;
}
